{
    "rules":{
        "comma-dangle": 0,
        "import/no-unresolved":0,
        "max-len":0,
        "react/prop-types":0
    },
    "extends": "airbnb",
    "installedESLint": true,
    "plugins": [
        "react"
    ]
}